In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("PatientCorePopulatedTable.csv")

In [3]:
df.head()

,PatientID,PatientGender,PatientDateOfBirth,PatientRace,PatientMaritalStatus,PatientLanguage,PatientPopulationPercentageBelowPoverty
0,3A3C2AFB-FFFA-4E69-B4E6-73C1245D5D12,Male,1975-01-04 14:49:59.587,White,Single,Unknown,15.6
1,801AFB51-036F-40E3-BDFE-FED4844BE275,Male,1964-09-06 13:15:43.043,White,Unknown,English,13.23
2,366B0CC6-18AC-45DD-9AD4-BE884FE3A299,Female,1953-01-14 06:00:19.330,White,Married,English,12.11
3,DBB78149-D86C-435E-82C4-341999FD0719,Female,1986-04-28 12:42:02.007,Unknown,Unknown,Unknown,95.8
4,2C6269F4-71F8-4C07-A905-C08E9A3524C2,Female,1963-08-26 10:57:55.183,White,Unknown,English,18.08

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
PatientID                                  10000 non-null object
PatientGender                              10000 non-null object
PatientDateOfBirth                         10000 non-null object
PatientRace                                10000 non-null object
PatientMaritalStatus                       10000 non-null object
PatientLanguage                            10000 non-null object
PatientPopulationPercentageBelowPoverty    10000 non-null object
dtypes: object(7)
memory usage: 547.0+ KB

In [5]:
df.describe()

,PatientID,PatientGender,PatientDateOfBirth,PatientRace,PatientMaritalStatus,PatientLanguage,PatientPopulationPercentageBelowPoverty
count,10000,10000,10000,10000,10000,10000,10000
unique,10000,3,10000,5,6,5,2410
top,74CBA06C-1029-4B38-920E-638B3ACF0009,Female,1931-01-03 12:34:59.577,White,Married,English,19.33
freq,1,5199,1,4900,4500,6399,18

In [6]:
df['PatientGender'].value_counts()

Female    5199
Male      4800
female       1
Name: PatientGender, dtype: int64

In [7]:
df.PatientRace.replace('female','Female')

0                  White
1                  White
2                  White
3                Unknown
4                  White
5                  White
6       African American
7                  White
8       African American
9                  White
10                 White
11                 White
12                 Asian
13                 White
14      African American
15               Unknown
16               Unknown
17      African American
18                 White
19               Unknown
20                 White
21      African American
22               Unknown
23                 White
24                 White
25                 White
26                 Asian
27                 White
28      African American
29                 White
              ...
9970    African American
9971    African American
9972               Asian
9973             Unknown
9974               White
9975               White
9976             Unknown
9977    African American
9978               White
9979               Asian
9980               White
9981               White
9982               White
9983               Asian
9984               White
9985               White
9986               Asian
9987               White
9988               Asian
9989               White
9990             Unknown
9991               Aslan
9992    African American
9993             Unknown
9994               White
9995               Asian
9996               Asian
9997               White
9998               White
9999               White
Name: PatientRace, Length: 10000, dtype: object

In [8]:
df['PatientRace'].value_counts()

White               4900
Asian               2299
African American    1500
Unknown             1300
Aslan                  1
Name: PatientRace, dtype: int64

In [9]:
df.PatientRace.replace('Aslan','Asian')

0                  White
1                  White
2                  White
3                Unknown
4                  White
5                  White
6       African American
7                  White
8       African American
9                  White
10                 White
11                 White
12                 Asian
13                 White
14      African American
15               Unknown
16               Unknown
17      African American
18                 White
19               Unknown
20                 White
21      African American
22               Unknown
23                 White
24                 White
25                 White
26                 Asian
27                 White
28      African American
29                 White
              ...
9970    African American
9971    African American
9972               Asian
9973             Unknown
9974               White
9975               White
9976             Unknown
9977    African American
9978               White
9979               Asian
9980               White
9981               White
9982               White
9983               Asian
9984               White
9985               White
9986               Asian
9987               White
9988               Asian
9989               White
9990             Unknown
9991               Asian
9992    African American
9993             Unknown
9994               White
9995               Asian
9996               Asian
9997               White
9998               White
9999               White
Name: PatientRace, Length: 10000, dtype: object

In [10]:
df['PatientMaritalStatus'].value_counts()

Married      4500
Single       3200
Divorced     1100
Unknown       600
Separated     500
Widowed       100
Name: PatientMaritalStatus, dtype: int64

In [11]:
df['PatientLanguage'].value_counts()

English      6399
Spanish      1800
Icelandic    1200
Unknown       600
Engrish         1
Name: PatientLanguage, dtype: int64

NameError: name 'pc_df' is not defined