In [1]:
import tensorflow as tf
from keras.layers import Dense
print ("TensorFlow version: " + tf.__version__)

TensorFlow version: 1.12.0

Using TensorFlow backend.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from sklearn import preprocessing
from sklearn.model_selection import cross_validate
from sklearn import linear_model
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from datetime import datetime

In [4]:
pc_df = pd.read_csv("PatientCorePopulatedTable.csv",na_values = ['Unknown'], infer_datetime_format = True, parse_dates = ['PatientDateOfBirth'])

In [5]:
pc_df.head(5)

,PatientID,PatientGender,PatientDateOfBirth,PatientRace,PatientMaritalStatus,PatientLanguage,PatientPopulationPercentageBelowPoverty
0,3A3C2AFB-FFFA-4E69-B4E6-73C1245D5D12,Male,1975-01-04 14:49:59.587,White,Single,NaN,15.6
1,801AFB51-036F-40E3-BDFE-FED4844BE275,Male,1964-09-06 13:15:43.043,White,NaN,English,13.23
2,366B0CC6-18AC-45DD-9AD4-BE884FE3A299,Female,1953-01-14 06:00:19.330,White,Married,English,12.11
3,DBB78149-D86C-435E-82C4-341999FD0719,Female,1986-04-28 12:42:02.007,NaN,NaN,NaN,95.8
4,2C6269F4-71F8-4C07-A905-C08E9A3524C2,Female,1963-08-26 10:57:55.183,White,NaN,English,18.08

In [6]:
pc_df.loc[pc_df['PatientGender'] == 'female', 'PatientGender'] = 'Female'
pc_df.loc[pc_df['PatientRace'] == 'Aslan', 'PatientRace'] = 'Asian'
pc_df.loc[pc_df['PatientLanguage'] == 'Engrish', 'PatientLanguage'] = 'English'
pc_df.loc[pc_df['PatientPopulationPercentageBelowPoverty'] == 'text', 'PatientPopulationPercentageBelowPoverty'] = ''

In [7]:
pc_df['PatientGender'] = pc_df.PatientGender.astype('category')
pc_df['PatientRace'] = pc_df.PatientRace.astype('category')
pc_df['PatientMaritalStatus'] = pc_df.PatientMaritalStatus.astype('category')
pc_df['PatientLanguage'] = pc_df.PatientLanguage.astype('category')
pc_df['PatientPopulationPercentageBelowPoverty'] = (pd.to_numeric(pc_df['PatientPopulationPercentageBelowPoverty'], errors='coerce'))

In [8]:
from datetime import datetime
pc_df["PatientAge"] = (pd.Timestamp(datetime.now()) - pc_df["PatientDateOfBirth"]).astype('<m8[Y]')

In [10]:
# pc_df.drop(pc_df.index[0], inplace=False)
pc_df.drop(pc_df.index[4199], inplace=True)
pc_df.drop(pc_df.index[7248], inplace=True)

In [ ]:
# pc_df = pc_df.drop(['PatientDateOfBirth'], axis = 1)

In [12]:
def summerize_data(pc_df):
    for column in pc_df.columns:
        print (column)
        if pc_df.dtypes[column] == np.object: # Categorical data
            print (pc_df[column].value_counts())
        else:
            print (pc_df[column].describe()) 
        
        print ('\n')
    
summerize_data(pc_df)

PatientID
AFA3A6E6-B856-448A-995F-BD518309A788    1
C771BFC7-ADAE-4BDE-B62E-560990B90790    1
D4F70788-1163-4C33-89B2-03C896FC55FE    1
707386F7-5433-4677-AE52-26BB13ECD86D    1
FF772443-075D-46A0-AA8B-72D987971E9F    1
839A0426-AFCF-4795-9F6E-436CCCCF1318    1
839A4F07-D559-4F44-9BEE-93D1D717793D    1
3107E3BC-FF10-4288-815C-19F4902C8FDC    1
FE494774-4C27-45EA-B87A-CA7CE0609B30    1
F4B1AD6B-0D76-48D0-8413-01140D5AA0F3    1
248BD5C5-3849-4458-B8F9-70B81941B37F    1
0C57954D-D0C9-494C-AAB2-AE340E72A4E7    1
A886C6E8-E77C-45C1-B8D3-CE45FB5C73ED    1
B2DE3750-9CE0-4434-B7F5-630AB9B3CFDB    1
14ACE1F3-208E-4263-B034-4F894B0E13F7    1
89BC8490-5984-414B-9467-AF90354DF654    1
D1CB75AA-CEAD-4603-9E53-89149A0E6441    1
B3EBFD9A-7EA9-486F-9B0A-3589BCB5861E    1
5A2EE954-42DB-4210-A944-4E4784BB1F35    1
F728D6CC-D2D0-4ADA-8D19-FBE9DE4D932B    1
F5EE8716-1B5D-41E9-BDCB-A97EA2D8C1D9    1
931918E9-5D70-4161-9FFC-8F0550F3F86B    1
65F82D78-0B5A-4689-812D-50B06842BF65    1
0BC915D6-E8B0-470A-ABFB-6D0AE4B75EF6    1
B17CB260-5551-4D65-B55D-284499291070    1
06F276BE-7756-4AA6-9466-C7E8DFE5CACA    1
00DBEDB4-29DE-48DF-A768-3B91F97B79EA    1
BF264F0D-C2B9-4965-9DE9-284D5629125D    1
2430C47A-E13E-4ED4-8B43-8CACC4A4C474    1
1A794132-AD8B-4C7D-AF73-6CBD64DDC595    1
                                       ..
1D9389EC-E5DE-44B3-A408-1287B93F2351    1
A9092EB5-52C7-4F8C-A75D-9A6FC66FB4CC    1
AB9D01BE-B392-4C9E-8815-E140AE16314E    1
5406350E-64D5-4330-8FB8-0BB4CC5D55D9    1
743516F0-7F34-4DCF-B356-28E6E7689290    1
A820041A-F852-4364-9FDA-E77679859AEC    1
91083AFB-4DFB-4D74-BF7E-1F30CD5DA41C    1
BDF0E3D2-7482-4CA3-AC8E-867317F42BAA    1
011457A3-00EC-485F-BBC1-FB88DFBFC011    1
ED11F240-D72B-44CF-9BB7-E3F782681E2F    1
E48A7CDE-F9F6-48C9-976F-51FCF1455093    1
CFBF4857-2DA2-48D8-9C0E-B465D7CDE4B9    1
3019E1E1-23CA-4498-B8F9-AEF8A17ECAAF    1
1E6C0633-74F4-430F-BBF7-CB6FAF67ED56    1
60430E06-E078-4BBC-B6E4-5D24D49528F9    1
840AAA22-CF2E-44D6-8663-05AC2E9BE038    1
FDFCFF27-05FD-461C-9966-FBDEFDF57ED8    1
4DA47A18-400C-4096-B9AB-953475D27937    1
D4AC604D-B2A8-4D38-82AD-254FEF1B24C2    1
6505A19B-A5A5-4F80-93E1-A70706819CC9    1
7A5B3456-DDC3-47E7-99C3-9CF64DD0C822    1
294D77D0-3865-40E0-A580-7932463A131C    1
8123DCB6-E0DB-4B5C-88FB-3008D2F91373    1
3C09C738-D575-4930-AD8F-8BD2AEC38816    1
CD52BD72-D18B-48F3-A87E-28470BA7D135    1
BFC30DC6-DB6F-4BD6-A327-3F9287657116    1
15D96CD9-7192-48DA-8CF9-6C3958EF95E6    1
47EAFD25-ED4F-4110-924F-C128F9AC2404    1
DBE266A5-6B4A-4469-9268-484F9C735425    1
8E336503-31E2-4886-87D2-E89E89D8D01D    1
Name: PatientID, Length: 9998, dtype: int64


PatientGender
count       9998
unique         2
top       Female
freq        5199
Name: PatientGender, dtype: object


PatientDateOfBirth
count                           9998
unique                          9998
top       1950-07-04 20:11:32.313000
freq                               1
first     1920-01-01 23:03:51.483000
last      1989-12-22 23:11:44.590000
Name: PatientDateOfBirth, dtype: object


PatientRace
count      8698
unique        3
top       White
freq       4900
Name: PatientRace, dtype: object


PatientMaritalStatus
count        9398
unique          5
top       Married
freq         4499
Name: PatientMaritalStatus, dtype: object


PatientLanguage
count        9398
unique          3
top       English
freq         6400
Name: PatientLanguage, dtype: object


PatientPopulationPercentageBelowPoverty
count    9997.000000
mean       21.554113
std        23.323440
min         0.010000
25%        11.950000
50%        15.040000
75%        18.130000
max        99.990000
Name: PatientPopulationPercentageBelowPoverty, dtype: float64


PatientAge
count    9998.000000
mean       60.909282
std        17.237094
min        29.000000
25%        49.000000
50%        59.000000
75%        73.000000
max        99.000000
Name: PatientAge, dtype: float64

In [13]:
print (list(pc_df))
pc_df.reset_index()

['PatientID', 'PatientGender', 'PatientDateOfBirth', 'PatientRace', 'PatientMaritalStatus', 'PatientLanguage', 'PatientPopulationPercentageBelowPoverty', 'PatientAge']

,index,PatientID,PatientGender,PatientDateOfBirth,PatientRace,PatientMaritalStatus,PatientLanguage,PatientPopulationPercentageBelowPoverty,PatientAge
0,0,3A3C2AFB-FFFA-4E69-B4E6-73C1245D5D12,Male,1975-01-04 14:49:59.587,White,Single,NaN,15.60,44.0
1,1,801AFB51-036F-40E3-BDFE-FED4844BE275,Male,1964-09-06 13:15:43.043,White,NaN,English,13.23,54.0
2,2,366B0CC6-18AC-45DD-9AD4-BE884FE3A299,Female,1953-01-14 06:00:19.330,White,Married,English,12.11,66.0
3,3,DBB78149-D86C-435E-82C4-341999FD0719,Female,1986-04-28 12:42:02.007,NaN,NaN,NaN,95.80,32.0
4,4,2C6269F4-71F8-4C07-A905-C08E9A3524C2,Female,1963-08-26 10:57:55.183,White,NaN,English,18.08,55.0
5,5,07E4EDF1-3AC8-4A71-AC06-F5DDDD8032BA,Male,1958-11-08 01:27:12.597,White,Single,English,12.38,60.0
6,6,90A956B2-AAE0-4D39-8A5E-680B36E1EA46,Male,1957-12-27 14:00:00.410,African American,Single,English,19.47,61.0
7,7,00F8A4BE-3CE3-466A-A90D-0A246D80CE57,Female,1925-03-27 18:58:51.580,White,Divorced,Icelandic,13.47,93.0
8,8,4731F86A-9225-424F-9944-AEF4001D0C55,Male,1953-10-07 11:56:58.470,African American,Separated,English,19.97,65.0
9,9,4CF45EFD-ACB3-4199-A974-403F25D219F2,Female,1969-07-02 04:52:46.833,White,Married,Spanish,15.55,49.0
10,10,75E2A410-6B84-4F88-B23B-D8715B95C8A5,Male,1937-11-03 02:25:53.543,White,Married,NaN,10.73,81.0
11,11,30449579-0C45-4047-A755-C13E09F32E23,Female,1938-05-19 13:34:32.603,White,Divorced,Spanish,12.93,80.0
12,12,8EBF98B7-F043-44DB-874F-DEFBE86176AF,Male,1923-08-13 01:20:41.103,Asian,Married,English,18.81,95.0
13,13,0F907289-895E-4B76-89E9-8E63C98EE144,Male,1984-06-17 10:56:51.350,White,Married,English,11.30,34.0
14,14,449A2AC6-170D-415F-9801-8D0FE5F71655,Male,1938-12-21 03:48:25.033,African American,Married,Spanish,17.74,80.0
15,15,193C35A1-2BF3-4305-A1A6-3006675821F1,Female,1986-01-08 21:43:35.747,NaN,Married,English,19.96,33.0
16,16,2C214BAA-3E7E-4D67-A61A-9AF5366F3AAE,Male,1945-07-07 08:10:44.283,NaN,Divorced,English,14.58,73.0
17,17,CD30BCDE-ABF6-42C3-B30C-796A86F114ED,Female,1967-12-26 20:41:11.683,African American,Married,English,13.51,51.0
18,18,82327435-2A63-45EF-AFDE-28A778E5AFAC,Male,1963-05-04 21:58:03.970,White,Separated,English,18.89,55.0
19,19,16A66D15-D206-4AE9-BA63-A73DAA7F9112,Female,1972-03-21 22:32:32.613,NaN,Single,Spanish,19.05,46.0
20,20,2BD263A3-BF89-484F-8C69-AB201F9EDBE7,Male,1936-01-05 16:01:46.253,White,Single,English,14.14,83.0
21,21,C84E7F47-0BAE-48B1-84FE-92004D2D0A79,Female,1925-12-26 22:12:17.897,African American,Single,English,16.84,93.0
22,22,463530E1-3469-454E-BA01-8258B9FCFDA2,Female,1964-01-23 06:06:01.210,NaN,Married,English,8.99,55.0
23,23,59E199F5-B3B8-4623-877F-49B405C906C6,Male,1989-10-11 07:33:04.960,White,Single,English,19.84,29.0
24,24,621BE52F-7D20-4392-91D3-4C686D452B11,Female,1925-08-26 16:15:00.987,White,Divorced,Spanish,15.27,93.0
25,25,6B3978F7-807E-4D98-9B03-48772F331290,Female,1942-01-12 07:09:05.853,White,Married,Icelandic,15.95,77.0
26,26,5CD08642-934F-4121-9F25-C0EB35D7E674,Male,1963-06-08 21:18:34.397,Asian,Married,English,15.94,55.0
27,27,EB15BE30-B691-4DAA-B32B-B61038839F11,Male,1947-12-02 07:14:04.690,White,Married,Spanish,15.98,71.0
28,28,F05F55AF-0644-4C34-A92A-17957336AC96,Female,1955-07-22 12:52:42.197,African American,Single,NaN,12.55,63.0
29,29,5C608866-F7E1-4D88-8ECC-5EA383FB33EC,Male,1958-03-09 11:28:26.637,White,Single,NaN,14.53,60.0
...,...,...,...,...,...,...,...,...,...
9968,9970,20968F20-CE43-440E-B78A-620036615CFF,Female,1987-10-31 19:16:25.913,African American,Divorced,English,8.42,31.0
9969,9971,6D61B3F3-EC40-47E2-BFC2-ADFCD6B4F779,Male,1961-06-24 02:07:18.933,African American,Single,English,15.43,57.0
9970,9972,E0BCB7AA-854F-4A59-9117-4CF24B6E7049,Male,1986-02-22 21:43:50.487,Asian,Married,English,10.14,32.0
9971,9973,76920E8D-A8D5-4131-B122-8F1B7B524685,Male,1941-05-06 14:59:09.217,NaN,Single,English,84.13,77.0
9972,9974,0E907FB8-02BB-4A26-9B6B-296643F15682,Male,1945-03-09 11:25:31.990,White,Married,English,12.91,73.0
9973,9975,6DDA7B94-39AF-40CA-80F7-515DFF3666D3,Female,1987-05-07 16:09:49.070,White,Married,NaN,13.21,31.0
9974,9976,AC0C6E38-C9B8-46F2-98BC-24D739F760AD,Female,1963-04-07 09:40:45.597,NaN,Married,English,13.26,55.0
9975,9977,21635304-37E0-467C-8FE4-E8A026C073D9,Male,1955-03-14 13:59:42.960,African American,NaN,English,14.99,63.0
9976,9978,C58AFA14-70B6-43E3-94AF-BFFBAF0924FE,Female,1940-03-02 06:59:00.120,White,Single,Icelandic,14.83,78.0
9977,9979,B7A01857-1957-43FB-A000-D58321C5981B,Male,1955-06-29 10:58:51.347,Asian,Married,English,13.91,63.0
9978,9980,4B9C85C8-FC33-4E3E-AFE2-02B99FDA596D,Male,1958-10-24 02:23:22.930,White,Separated,English,17.27,60.0
9979,9981,C3AAEB03-EC69-48BB-9025-A66B18950C7F,Female,1960-08-19 20:07:19.157,White,Married,English,18.42,58.0
9980,9982,3E8A510F-335E-46A8-8D8B-F0B537D86872,Male,1931-08-06 23:51:20.213,White,Married,English,15.40,87.0
9981,9983,03EB629C-2780-4502-A41E-23EA1632CFC9,Female,1945-08-24 15:35:27.983,Asian,Married,Spanish,97.02,73.0
9982,9984,58C1C221-5AD3-4C26-86D1-40775081BEF3,Female,1960-01-28 17:30:52.947,White,Divorced,English,12.48,59.0
9983,9985,6D70B7FE-B0FE-485D-919D-0C261A485BB6,Female,1980-08-28 15:17:16.607,White,Married,Spanish,15.27,38.0
9984,9986,AF712E2F-19F0-459D-9EC5-76005D403DE0,Female,1984-04-22 08:50:20.007,Asian,Single,English,4.04,34.0
9985,9987,5D2B3CB9-9847-4B5D-91DC-F2E9AE75D66B,Female,1975-12-25 17:34:03.543,White,Single,English,18.57,43.0
9986,9988,E04245AE-FD89-4988-8C1C-F070E45CF63F,Female,1981-04-29 05:10:09.670,Asian,Divorced,English,16.88,37.0
9987,9989,98AF85EC-EA18-4AC6-A9F8-607023A91232,Female,1968-01-04 19:50:14.593,White,Single,English,13.53,51.0
9988,9990,978F2CA3-C927-4F53-9A1F-03CBC1480C77,Female,1977-12-26 03:29:35.340,NaN,NaN,English,5.37,41.0
9989,9991,D42F4449-62D2-472A-82D1-192E058D506D,Male,1972-12-05 12:33:57.237,Asian,Married,English,10.63,46.0
9990,9992,E7E99460-E383-4A18-B2F0-03234D44CD9A,Female,1942-06-21 00:06:02.567,African American,Married,English,13.21,76.0
9991,9993,D364DAB6-CA3A-4B92-B46D-D87F13FD9CA9,Female,1974-12-26 03:00:25.663,NaN,Married,English,18.40,44.0
9992,9994,D9A38B04-3888-4377-99E8-C4F8A5688C5B,Male,1931-03-30 07:02:00.143,White,NaN,English,3.24,87.0
9993,9995,D04C442C-EA64-417C-92D8-F4EDFBEE39B4,Male,1983-09-15 20:28:54.407,Asian,Married,Icelandic,17.03,35.0
9994,9996,B0927504-E648-4944-AA83-1C483F5BC660,Male,1946-06-05 23:01:09.947,Asian,Married,English,13.57,72.0
9995,9997,E46ABAFF-C377-410B-AA52-158F08586C5A,Male,1927-05-01 14:35:56.973,White,Married,English,18.12,91.0
9996,9998,019B2C12-1EA1-4079-9B6B-A271E695F3B5,Female,1955-03-23 21:40:29.530,White,Married,Spanish,3.28,63.0
9997,9999,9119722E-D39F-4537-BDD3-12F903262876,Male,1967-10-31 17:12:54.720,White,Separated,English,12.78,51.0

In [1]:
# # Encode the categorical features as numbers
# def number_encode_features(pc_df):
#     result = pc_df.copy()
#     encoders = {}
#     for column in result.columns:
#         if result.dtypes[column] == np.object:
#             encoders[column] = preprocessing.LabelEncoder()
#             result[column] = encoders[column].fit_transform(result[column])
#     return result, encoders


# # Calculate the correlation and plot it
# encoded_data, _ = number_encode_features(pc_df)
# sns.heatmap(encoded_data.corr(), square=True)
# plt.show()

# encoded_data.tail(5)

In [ ]:
pc_df.to_csv('cleaned.txt')